<h1>Survey answers</h1>
<p>filled out</p>
<body>
<div class='picture' style='background-image: url(https://source.unsplash.com/5d2ETacuSgw/1600x900)'></div>
<div class='overlay-grayscale'></div>
<div class='overlay-bottom'></div>
<div class='overlay-top'></div>

  <div id='display-completed-survey'>
  </div>
  <div id='content-completed-survey'>
      <section class='solo-content'>
        <%= form_for @completed_survey do |form|%>
          <%= form.fields_for :evaluations do |evaluation_form| %>
        <article class='grid-content'>
            <p><%= evaluation_form.object.answer %></p>
            <p><%= evaluation_form.object.question.body %></p>
        </article>
        <% end %>
      <% end %>
      </section>
  </div>
  <footer></footer>
</body>
