<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <section class="even-content">
      <article>
        <p>Returning? Welcome back!</p>
        <%= link_to "Sign In", sign_in_path, :class => "items" %>
      </article>
      <aside>
        <p>New to Crew Check?</p>
        <%= link_to "Sign Up", sign_up_path, :class => "items"  %>
      </aside>
    </section>
  </body>
</html>
