<!DOCTYPE html>
<html>
  <head>
    <span class="display-sign-in">
      <h1>Welcome</h1>
    </span>
  </head>

  <body>
    <section>
      <aside>
        <%= link_to "Sign In", sign_in_path %>
      </aside>
      <article>
        <%= link_to "Sign Up", sign_up_path %>
      </article>
    </section>
  </body>
</html>
