<body>
<div class="background-photo-survey-new">
<div class="background-filter-survey-new">

  <div class="display-survey-show">
    <h1 class="title-a"><%= @survey.heading %></h1>
    <h1 class="title-b">Results</h1>
  </div>

  <section class="solo-content">
    <aside>
    </aside>
    <% @survey.questions.each do |question| %>
    <article class="results">
      <h1 style="display: inline-block;"><%= question.body %>:</h1>
      <h1 style="display: inline-block; font-weight: bold; float: right;"><%= question.average_answer_for_survey(@survey) %></h1>
    </article>
    <% end %>
  </section>

  <footer></footer>

</div>
</div>
</body>
