.picture {
  height: 900px;
  max-height: 100%;
  position: absolute;
}
.overlay-bottom {
  height: 900px;
  max-height: 100%;
  width: 100%;
  position: absolute;
}
.overlay-top {
  height: 900px;
  max-height: 100%;
  width: 100%;
  position: absolute;
}
