#clearance {
  margin-right: 20em;
  margin-left: 20em;
  margin-top: 5em;
  width: auto;


  background:rgba(245,245,245,0.9);
  box-shadow: 0 .5px 6px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding: 1em;

  .text-field {
    margin-bottom: .5em;
    label {
      display: block;
    }
  }

  .password-field {
    margin-bottom: .5em;
    label {
      display: block;
    }

    }
  }
  .submit-field {
  }
  .other-links {
  }
