.background-photo-survey-new {
  background: url(https://source.unsplash.com/jLwVAUtLOAQ/1600x900) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.background-filter-survey-new {
  background:rgba(200,200,200,0.6);
  padding-bottom: 15em;
}
