.background-photo-survey-new {
  background: url(https://source.unsplash.com/jLwVAUtLOAQ/1600x900) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.background-filter-survey-new {
  background:rgba(200,200,200,0.6);
  padding-bottom: 15em;
}
// body styling
body {

  .display-survey {
    position: relative;
    display: block;
    background:rgba(245,245,245,0.9);
    border-style: solid;
    border-width: 0 0 0.5px 0;
    border-color: #e9e9e9;
    margin-bottom: 2em;
    padding-top: 4em;
    .title {
      text-align: center;
      font-size: 4em;
    }
  }

  section {

    .article-survey-new {
      background:rgba(245,245,245,0.6);
      box-shadow: 0 .5px 6px rgba(0, 0, 0, 0.05);
      border-radius: 3px;
      padding: 1em;
    }

    .aside-survey-new {
      background:rgba(245,245,245,0.9);
      box-shadow: 0 .5px 6px rgba(0, 0, 0, 0.05);
      border-radius: 3px;
      padding: 1em;


      .heading-input {
        border-style: none;
        font-size: 1em;
        width: 100%;
        height: 2em;
      }
      textarea#intro {
        border-style: none;
        font-size: 1em;
        width: 100%;
        height: 4em;
      }
      .submit-button {
        color: #7d7d7d;
        background-color: white;
        border-style: none;
        font-size: 1em;
        font: "Open Sans";
        font-weight: 300;
        border-radius: 3px;
        width: 100%;
        max-width: 5em;

      }
      .submit-button:hover {
        background-color: #ddd;
        color: #333;
      }

    }

  }
}
