<!DOCTYPE html>
<html>

  <head>
    <span class="display-sign-in">
      <h1>CrewCheck</h1>
    </span>
    <%= render partial: "layouts/head" %>
  </head>
  <body>

  <div id="clearance">
    <h1>Welcome to CrewCheck!</h1>
  </div>
<%= yield %>

  </body>
</html>
